version: "3.4"

services:
  api:
    image: ghcr.io/saleor/saleor:3.19
    ports:
      - 8000:8000
    restart: unless-stopped
    networks:
      - saleor-backend-tier
    stdin_open: true
    tty: true
    depends_on:
      db-init:
        condition: service_completed_successfully
      redis:
        condition: service_started
    volumes:
      # shared volume between worker and api for media
      - ./media:/app/media
    env_file:
      - .env

  dashboard:
    image: ghcr.io/saleor/saleor-dashboard:latest
    ports:
      - 9000:80
    # environment:
    #   - API_URL=http://api:8000/graphql/
    restart: unless-stopped
    networks:
      - saleor-backend-tier

  db:
    image: library/postgres:13-alpine
    ports:
      - 5432:5432
    restart: unless-stopped
    networks:
      - saleor-backend-tier
    volumes:
      - ./pg-init:/docker-entrypoint-initdb.d
      - ./pg-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=saleor
      - POSTGRES_USER=saleor
      - POSTGRES_PASSWORD=saleor

  db-init:
    image: ghcr.io/saleor/saleor:3.19
    env_file:
      - .env
    entrypoint: sh -c "python3 manage.py migrate && python3 manage.py createsuperuser --noinput || echo 'User admin already exists'"
    depends_on:
      db:
        condition: service_started
    networks:
      - saleor-backend-tier

  redis:
    image: library/redis:7.0-alpine
    ports:
      - 6379:6379
    restart: unless-stopped
    networks:
      - saleor-backend-tier
    volumes:
      - ./redis-data:/data

  worker:
    image: ghcr.io/saleor/saleor:3.19
    command: celery -A saleor --app=saleor.celeryconf:app worker --loglevel=info -B
    restart: unless-stopped
    networks:
      - saleor-backend-tier
    env_file:
      - .env
    depends_on:
      db-init:
        condition: service_completed_successfully
      redis:
        condition: service_started
    volumes:
      # shared volume between worker and api for media
      - ./media:/app/media
  jaeger:
    image: jaegertracing/all-in-one
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "9411:9411"
    restart: unless-stopped
    networks:
      - saleor-backend-tier

  mailpit:
    image: axllent/mailpit
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui. Visit http://localhost:8025/ to check emails
    restart: unless-stopped
    networks:
      - saleor-backend-tier

networks:
  saleor-backend-tier:
    driver: bridge
